
body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:20px;
    width:400px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h1{
    text-align:center;
}
 #options label{
    display:block;
    margin:10px 0;
    font-size:18px;
    color:black;
 }
button{
    margin-top:15px;
    padding:10px;
    width:100%;
    background:#006680;
    color:white;
    border: none;
    cursor:pointer;
}